<div class="container">
  <h1 class="text-center py-5">Por favor dejanos tus datos de contacto para enviarte los detalles de la reserva a tu email</h1>
  <div class="container px-5">
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input class="form-control">
      </div>
      <div class="mb-3">
        <label for="rut" class="form-label">RUT</label>
        <input class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Información adicional</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-info">Enviar mi reserva por mail</button>
      </div>  
    </form>
  </div>
  <h3 class="text-center py-5">Gracias por elegirnos</h5>
</div>