<div class="my-5">
  <div class="card" style="width: 80%;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.pinimg.com/550x/cf/24/ec/cf24ec6b4188f4095d2d506a2d2dbed1.jpg" class="card-img-top w-100" alt="Vista nocturna">
        </div>
        <div class="carousel-item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/7d/8e/0d/cabin-3-with-deck-and.jpg" class="card-img-top w-100" alt="Vista diurna">
        </div>
        <div class="carousel-item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/19/5e/bf/da/view.jpg" class="card-img-top w-100" alt="Vista">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Cabaña en el bosque</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text text-center">Disponible desde 25/06/2022</p>
    </div>
    <div class="card-footer bg-white text-end ">
      <small class="fw-bold ">$50.000 p/noche</small>
    </div>
  </div>
</div>
