<footer class="mb-0">
  <div class="row">
    <div class="col">
      <p class="pt-4 text-end">No te arrepentiras de quedarte con nosotros</p>
    </div>
    <div class="col">
      <span class=""><i class="fas fa-leaf fa-2x pt-3"></i></span>
    </div>
  </div>
</footer>
