<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 mb-3">
        <p class="pt-4 text-center">No te arrepentiras de quedarte con nosotros <i class="fas fa-leaf fa-2x pt-3"></i></p>
      </div>
    </div>
  </div>
</footer>
