<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid px-5">
    <a class="navbar-brand ps-5" href="#">Navbar</a>
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <span class="nav-item dropdown text-end pe-5" style="width: 12.5rem;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: #000000;">
          <img src="<%= image_url(asset_path('user-avatar.svg'))%>" class="img-dropdown"> 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#"><%= link_to "Log In with Google", '/auth/google_oauth2' %></a></li>
          <li><a class="dropdown-item" href="#">Cabaña 1</a></li>
          <li><a class="dropdown-item" href="#">Cabaña 2</a></li>
          <li><a class="dropdown-item" href="#">Cabaña 3</a></li>
          <li><a class="dropdown-item" href="#">Formulario contacto</a></li>
        </ul>
      </span> 
    </div>
  </div>
</nav>